<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weidi.media.wdplayer">

    <!-- 读取Log权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 相机权限-->
    <!--<uses-permission android:name="android.permission.CAMERA" />-->
    <!-- 录音权限 -->
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO" />-->
    <!-- 重启完毕 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 悬浮窗权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <!-- 这个权限是必须有的，否则操作不了硬件,google的文档没有说出来，据说是因为有过滤器后自动获得，但是我的项目没这句话不成功。 -->
    <uses-permission android:name="android.permission.HARDWARE_TEST" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!--加入电池白名单-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--读取本机识别码-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--重新设置外拨电话的路径-->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <!--网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--定位权限-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--定位权限，Android 10 新增后台定位权限-->
    <!--<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->

    <!--需要注释的地方: 1-->
    <!--<uses-feature android:name="android.hardware.type.watch" />-->

    <!--android:icon="@mipmap/ic_launcher"-->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault"
        android:usesCleartextTraffic="true">

        <!--需要注释的地方: 2-->
        <!--<uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <activity
            android:name=".WearMainActivity"
            android:configChanges="uiMode|keyboard|keyboardHidden|screenSize|orientation|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="sensor">&lt;!&ndash;landscape&ndash;&gt;
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_GALLERY" />
            </intent-filter>
        </activity>-->
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode|keyboard|keyboardHidden|screenSize|orientation|fontScale"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.APP_GALLERY" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.weidi.media.wdplayer.video_player.FullScreenActivity"
            android:configChanges="uiMode|keyboard|keyboardHidden|screenSize|orientation|fontScale"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.weidi.media.wdplayer.business.contents.LiveActivity"
            android:configChanges="uiMode|keyboard|keyboardHidden|screenSize|orientation|fontScale"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name="com.weidi.media.wdplayer.business.contents.LiveActivityForIptv"
            android:configChanges="uiMode|keyboard|keyboardHidden|screenSize|orientation|fontScale"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name="com.weidi.media.wdplayer.business.contents.LiveActivityForMenFavorite"
            android:configChanges="uiMode|keyboard|keyboardHidden|screenSize|orientation|fontScale"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name="com.weidi.media.wdplayer.business.contents.LiveActivityForMenFavoriteWear"
            android:configChanges="uiMode|keyboard|keyboardHidden|screenSize|orientation|fontScale"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name="com.weidi.media.wdplayer.business.contents.LiveActivityForWear"
            android:configChanges="uiMode|keyboard|keyboardHidden|screenSize|orientation|fontScale"
            android:screenOrientation="sensor" />

        <activity
            android:name="com.weidi.media.wdplayer.business.contents.LiveActivityForIptvWear"
            android:configChanges="uiMode|keyboard|keyboardHidden|screenSize|orientation|fontScale"
            android:screenOrientation="sensor" />

        <activity
            android:name="com.weidi.media.wdplayer.business.contents.LocalAudioActivity"
            android:configChanges="uiMode|keyboard|keyboardHidden|screenSize|orientation|fontScale"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name="com.weidi.media.wdplayer.business.contents.LocalAudioActivityForWear"
            android:configChanges="uiMode|keyboard|keyboardHidden|screenSize|orientation|fontScale"
            android:screenOrientation="sensor" />

        <activity
            android:name="com.weidi.media.wdplayer.business.contents.LocalVideoActivityForWear"
            android:configChanges="uiMode|keyboard|keyboardHidden|screenSize|orientation|fontScale"
            android:screenOrientation="sensor" />

        <service
            android:name="com.weidi.media.wdplayer.video_player.PlayerService"
            android:exported="true"
            android:persistent="true"
            android:priority="1000" />

        <service
            android:name="com.weidi.media.wdplayer.video_player.RemotePlayerService"
            android:exported="true"
            android:persistent="true"
            android:priority="1000"
            android:process=".RemotePlayerService" />

        <receiver android:name="com.weidi.media.wdplayer.business.receiver.MediaButtonReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.weidi.media.wdplayer.business.receiver.PhoneReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".video_player.JniPlayerActivity"
            android:configChanges="uiMode|keyboard|keyboardHidden|screenSize|orientation|fontScale"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- Resume Play support -->
                <action android:name="com.alexander.video.action.START_PLAYBACK" />
                <action android:name="com.weidi.dtv.osat.video.action.START_PLAYBACK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="rtsp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- Resume Play support -->
                <action android:name="com.alexander.video.action.START_PLAYBACK" />
                <action android:name="com.weidi.dtv.osat.video.action.START_PLAYBACK" />
                <action android:name="com.alexander.video.action.START_PLAYBACK_WITH_DETAIL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:mimeType="application/sdp" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="application/sdp" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.weidi.dtv.osat.video.action.START_PLAYBACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- Resume Play support -->
                <action android:name="com.alexander.video.action.START_PLAYBACK" />
                <action android:name="com.weidi.dtv.osat.video.action.START_PLAYBACK" />
                <action android:name="com.alexander.video.action.START_PLAYBACK_WITH_DETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="dlna" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/mpeg4" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/3gp" />
                <data android:mimeType="video/3gpp" />
                <data android:mimeType="video/3gpp2" />
                <data android:mimeType="video/webm" />
                <data android:mimeType="video/avi" />
                <data android:mimeType="video/ismv" />
                <data android:mimeType="video/x-m4v" />
                <data android:mimeType="video/mpeg" />
                <data android:mimeType="video/vnd.dlna.mpeg-tts" />
                <data android:mimeType="video/x-ms-asf" />
                <data android:mimeType="video/x-matroska" />
                <data android:mimeType="video/x-ms-wmv" />
                <data android:mimeType="application/sdp" />
            </intent-filter>
            <intent-filter>
                <!-- HTTP Streaming support -->
                <action android:name="android.intent.action.VIEW" />
                <!-- Resume Play support -->
                <action android:name="com.alexander.video.action.START_PLAYBACK" />
                <action android:name="com.weidi.dtv.osat.video.action.START_PLAYBACK" />
                <action android:name="com.alexander.video.action.START_PLAYBACK_WITH_DETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="audio/x-mpegurl" />
                <data android:mimeType="audio/mpegurl" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="application/x-mpegurl" />
                <data android:mimeType="application/dash+xml" />
            </intent-filter>
            <intent-filter>
                <!-- HTTP Streaming support -->
                <!-- HTTP live Streaming support -->
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.alexander.video.action.START_PLAYBACK" />
                <action android:name="com.weidi.dtv.osat.video.action.START_PLAYBACK" />
                <action android:name="com.alexander.video.action.START_PLAYBACK_WITH_DETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <data android:pathPattern=".*.m3u8" />
            </intent-filter>
            <intent-filter>
                <!-- VU Progressive DL playback support -->
                <action android:name="com.alexander.video.action.PROGRESSIVE_PLAYBACK" />
                <action android:name="com.alexander.video.action.PROGRESSIVE_PLAYBACK_WITH_DETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/vnd.weidi.mnv" />
            </intent-filter>
        </activity>
    </application>

</manifest>